PORT=

DEFAULT_LANGUAGE=
DEFAULT_VERSION=

SNIPPET_OPERATIONS_URL=

AUTH0_ISSUER_URI=
AUTH0_AUDIENCE=

NEW_RELIC_LICENSE_KEY=
NEW_RELIC_USER_KEY=
NEW_RELIC_APP_NAME=

REDIS_HOST=
REDIS_PORT=
REDIS_STREAM_REQUEST_LINT_KEY=
REDIS_STREAM_RESULT_LINT_KEY=
REDIS_GROUP_LINT_KEY=
